<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class="admin">
        <label for="text">Enter a valid username</label>
        <br>
        <br>
        <br>
        <label for="username">Username:</label>
        <input id="username" type="text" value="" placeholder="Username">
        <input id="deleteButton" type="button" value="Delete" >
        <br>
        <br>
        <label for="banuser">Ban User:</label>
        <input id="banuser" type="text" value="" placeholder="Username">
        <input id="banButton" type="button" value="Ban" >
        <br>
        <br>
        <label for="banuserip">Ban Users Ip:</label>
        <input id="banuserip" type="text" value="" placeholder="Username">
        <input id="banipButton" type="button" value="Ban Ip" >
        <br>
        <p id="responseMessage"></p>
        <p>Usernames:</p>
        <p id="usernameList"></p>


        </div>
        <script src="js/admin.js"></script>
</body>
	
</html>