<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>éblet Go</title>
    <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/login.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/cart.css">
  </head>
  <body>
    <div class="logo">
      <a href="/" id="steem"><img id="logo" src="/images/asdf.png" alt=""></a>
    </div>
    <table id="myTable" border = "1">
      <tr>
        <thead>
          <th>Item Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Delete</th>
        </thead>
      </tr>
      <tr>
        <tbody>

        </tbody>

      </tr>


    </table>


    </div>
    <script src="js/cart.js"></script>
  </body>
</html>
